antspyx
torch
monai
nilearn
arrow
binaryornot
build
certifi
chardet
charset-normalizer
click
cookiecutter
evalutils
idna
imageio[tifffile]
jinja2
jinja2-time
joblib
markupsafe
nibabel
numpy
packaging
pandas
pillow
pip-tools
pyproject-hooks
python-dateutil
python-slugify
pytz
pyyaml
requests
scikit-learn
scipy
simpleitk
six
text-unidecode
threadpoolctl
tifffile
tomli
urllib3
wheel
